# Set TRUE for China environment, FALSE for overseas environment.
USE_CHINA_ENVIRONMENT=TRUE

CHINA_TEST_ENVIRONMENT_BASE_URL=https://pre.juhemoxing.com
CHINA_API_KEY=your-china-api-key
CHINA_CONTROL_API_KEY=your-china-control-api-key

OVERSEAS_TEST_BASE_URL=https://pre.tokensave.pro
OVERSEAS_API_KEY=your-overseas-api-key
OVERSEAS_CONTROL_API_KEY=your-overseas-control-api-key

B_ACCOUNT_API_KEY=your-b-account-api-key
B_ACCOUNT_CONTROL_KEY=your-b-account-control-key
ZERO_BALANCE_API_KEY=your-zero-balance-api-key
ZERO_BALANCE_CONTROL_KEY=your-zero-balance-control-key

API_TIMEOUT=600

GENERATE_ALLURE_REPORT=TRUE
GENERATE_HISTORY_REPORT=FALSE
HISTORY_REPORT_KEEP_LIMIT=30
