--index-url https://pypi.tuna.tsinghua.edu.cn/simple
pytest>=8.0.0
pytest-xdist>=3.6.0
requests>=2.32.0
python-dotenv>=1.0.0
allure-pytest>=2.13.0
jsonpath-ng>=1.7.0
pydantic>=2.0.0
jsonschema>=4.0.0
